---
import Layout from '@/layout.astro'
---

<Layout>
  <section class="min-h-dvh content-center size-full bg-[url(/assets/login.avif)] bg-cover bg-center bg-no-repeat">
    <div class="mx-auto max-w-2xl md:max-w-4xl p-8 flex flex-col gap-8 md:gap-12">
      <div class="relative bg-black p-2 border-4 border-orange-500 shadow-[4px_4px_0px_0px_rgba(249,115,22,1)] -rotate-2 hover:rotate-0 transition duration-200">
        <h1 class="text-4xl md:text-8xl tracking-widest font-bold text-orange-600 transform inline-block font-heading text-balance"> 
          Turn your github into a hauntedfolio
        </h1>
        <img src="/assets/ghost.avif" alt="A creepy ghost" class="absolute hidden md:block bottom-12 right-6 size-14 md:size-28 animate-float"/>
      </div>
      <form id="search-form">
        <input 
          class="w-full border-2 border-orange-500 p-6 focus-within:outline-none shadow-[4px_4px_0px_0px_rgba(249,115,22,1)] text-2xl focus-within:text-[#A600A0] font-medium"  
          name="username"
          placeholder="xavimondev"
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          spellcheck="false"
        />
      </form>
    </div>
  </section>
</Layout>

<script>
  const form = document.getElementById('search-form') as HTMLFormElement

  form.addEventListener('submit', (e) => {
    e.preventDefault()
    // @ts-ignore
    const username = form.elements.username.value
    console.log(username);
    window.location.href = `/portfolio/${username}`
  })
</script>