<div class="size-48 lg:size-96 mx-auto max-w-4xl lg:max-w-7xl animate-zoom-3d hidden" id="userCreepyAvatarEffectContainer">
  <img 
    id="userCreepyAvatarEffect" 
    alt="Creepy Avatar" 
		class="size-48 lg:size-96 aspect-square border-4 border-purple-800 shadow-[4px_4px_0px_0px_#7E39CF] rounded-full" 
	/> 
</div>
