---
import Github from '@/components/icons/Github.astro'
---

<a 
  href="https://github.com/xavimondev/hauntedfolio" 
  target="_blank" 
  rel="noopener noreferrer" 
  class="absolute top-2 right-2 bg-black p-2 border-2 border-orange-500 shadow-[4px_4px_0px_0px_rgba(249,115,22,1)] hover:shadow-none hover:translate-x-1 hover:translate-y-1 transition-all">
  <Github class='text-white'/>
</a>