---
interface Props {
	login: string
	name: string
	avatarUrl: string
	bio: string
	location: string
	company: string | null
	githubUrl: string
	twitter: string | null
}

const { name, avatarUrl, bio, location, company, githubUrl, twitter } = Astro.props
---
<section class="hero">
  <div class="hero-content">
    <img src={avatarUrl} alt="Sppooky foto" class="user-photo">
    <div class="user-info">
      <h1>{name}</h1>
      <p>{bio}</p>
    </div>
  </div>
</section>