 <div class="flex flex-col items-center justify-center p-6 w-full">
  <div class="w-full max-w-2xl">
    <div class="flex justify-between">
      <div class="flex items-center gap-2">
        <span class="text-2xl font-bold mb-2 font-mono uppercase text-white">
          loading
        </span>
        <div class="flex space-x-1">
          <span class="size-2 bg-white rounded-full animate-[dotAppear_1.5s_steps(3,end)_infinite]"></span>
          <span class="size-2 bg-white rounded-full animate-[dotAppear_1.5s_steps(3,end)_0.5s_infinite]"></span>
          <span class="size-2 bg-white rounded-full animate-[dotAppear_1.5s_steps(3,end)_1s_infinite]"></span>
        </div>
      </div>
      <p class="text-2xl font-bold mb-2 font-mono text-white" id="percentage">
        0%
      </p>
    </div>
    <div class="relative bg-white p-1 rotate-1 hover:rotate-0 shadow-[8px_8px_0_0_rgba(0,0,0,1)]">
      <div class="h-16 w-full bg-black p-1">
        <div 
          class="h-full bg-green-500 transition-all duration-300 ease-in-out"
          id="progress-bar"
          style={{ width: `0%` }}
        ></div>
      </div>
    </div>
  </div>
</div>