 <div class="flex flex-col items-center justify-center p-6 w-full">
  <div class="w-full max-w-2xl">
    <div class="flex justify-between">
      <p class="text-2xl font-bold mb-2 font-mono uppercase text-white">
        loading
      </p>
      <p class="text-2xl font-bold mb-2 font-mono text-white">
        50%
      </p>
    </div>
    <div class="relative bg-white p-1 rotate-1 hover:rotate-0 shadow-[8px_8px_0_0_rgba(0,0,0,1)]">
      <div class="h-16 w-full bg-black p-1">
        <div 
          class="h-full bg-green-500 transition-all duration-300 ease-in-out"
          style={{ width: `50%` }}
        ></div>
      </div>
    </div>
  </div>
</div>