---
import Twitter from '@/components/icons/Twitter.astro'
import Download from '@/components/icons/Download.astro'
import Facebook from '@/components/icons/Facebook.astro'
import Linkedin from '@/components/icons/Linkedin.astro'

interface Props {
	username: string
	summaryVideoUrl?: string
}

const { username, summaryVideoUrl } = Astro.props
---

<section class="content-center w-screen h-screen p-8 size-full mx-auto max-w-4xl lg:max-w-7xl" data-username={username}>
  <div class="relative bg-black px-4 py-2 border-4 border-orange-500 shadow-[4px_4px_0px_0px_rgba(249,115,22,1)] -rotate-2 hover:rotate-0 transition duration-200 mb-16 sm:mb-20">
		<h2 class="text-4xl sm:text-5xl lg:text-8xl tracking-widest font-bold text-orange-600 transform font-heading text-balance animate-flicker uppercase">Summary Video!</h2>
		<img src="/assets/ghost.avif" alt="A creepy ghost" class="absolute hidden lg:block bottom-2 right-6 size-14 md:size-20 animate-float"/>
	</div>
	<div class="w-full mt-8 lg:mt-12 xl:mt-16">
    <div class="bg-orange-300 border-4 border-black shadow-[8px_8px_0px_0px_rgba(0,0,0,1)] p-6 relative overflow-hidden flex flex-col md:flex-row gap-4">
      <div class="size-full">
        <div 
          class="absolute top-0 left-0 w-full h-full pointer-events-none"
          style={{
            backgroundImage: "url('/placeholder.svg?height=20&width=20')",
            backgroundRepeat: 'repeat',
            opacity: 0.1
          }}
        />
        <div class="aspect-video mb-6 border-4 border-black shadow-[8px_8px_0px_0px_rgba(0,0,0,1)] relative">
          <video 
            src={summaryVideoUrl}
            class="w-full h-full object-cover relative z-20"
            controls
            poster="/placeholder.svg?height=400&width=600"
            id="video"
          >
            <!-- <source src={videoUrl} type="video/mp4" /> -->
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="w-full md:max-w-sm">
        <div class="p-4 bg-black border-2 border-orange-500 rounded-lg shadow-[4px_4px_0px_0px_rgba(249,115,22,1)]">
          <p class="text-lg md:text-xl font-bold mb-2 text-orange-500">🎃 Boo-st Your GitHub Presence! 👻</p>
          <p class="text-orange-400">Share your GitHub Haunted Summary and let your spooky contributions shine!</p>
          <div class="flex flex-col space-y-3 mt-5">
            <button 
              class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 border-b-4 border-orange-700 hover:border-orange-800 rounded transform transition-transform hover:scale-105 inline-flex items-center"
              aria-label="Share on Twitter"
              id="shareX"
            >
              <Twitter class="mr-2 size-5" />
              Share on Twitter
            </button>
            <button 
              class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 border-b-4 border-purple-700 hover:border-purple-800 rounded transform transition-transform hover:scale-105 inline-flex items-center"
              id="shareFacebook"
            >
              <Facebook class="mr-2 size-5" />
              Share on Facebook
            </button>
            <button 
              class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 px-4 border-b-4 border-purple-800 hover:border-purple-900 rounded transform transition-transform hover:scale-105 inline-flex items-center"
              id="shareLinkedin"
            >
              <Linkedin class="mr-2 size-5" />
              Share on LinkedIn
            </button>
            <button 
              id="download"
              class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-800 rounded transform transition-transform hover:scale-105 inline-flex items-center"
              aria-label="Download Video"
            >
              <Download class="mr-2 size-5" />
              Download Video
            </button>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>

<script>
  import { handleShareFacebook, handleShareLinkedin, handleShareX } from '@/helpers/social-sharing';
import { pollForProcessingImage } from '@cloudinary-util/util';

  const username = document.querySelector('[data-username]')?.getAttribute('data-username') ?? ''
  let VIDEO_LINK = ''

  const generateVideo = async () => {
    const response = await fetch('/api/generate-video', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        username
      })
    })

    const { results: video } = await response.json()
    const videoUrl = video.secure_url.replace('.clt', '.mp4');

    const videoElement = document.querySelector('#video') as HTMLVideoElement

    if (await pollForProcessingImage({ src: videoUrl }) ) {
      console.log('Video ready', videoUrl);
      videoElement.src = videoUrl
      VIDEO_LINK = videoUrl
    }
  }

  const downloadButton = document.querySelector('#download') as HTMLButtonElement
  const shareXButton = document.querySelector('#shareX') as HTMLButtonElement
  const shareFacebookButton = document.querySelector('#shareFacebook') as HTMLButtonElement
  const shareLinkedinButton = document.querySelector('#shareLinkedin') as HTMLButtonElement
  
  shareFacebookButton.addEventListener('click', () => {
    handleShareFacebook({ username })
  })

  shareLinkedinButton.addEventListener('click', () => {
    handleShareLinkedin({ username })
  })

  shareXButton.addEventListener('click', () => {
    handleShareX({ username })
  })

  downloadButton.addEventListener('click', () => {
    if(!VIDEO_LINK) {
      generateVideo()
      return
    }

    // http://res.cloudinary.com/demo/image/upload/fl_attachment:new_sample/v1362144095/sample_attachment.jpg
    const a = document.createElement("a")
    a.href = VIDEO_LINK.replace('/upload/', '/upload/fl_attachment:my_summary/')
    a.download = "my_summary.mp4"
    a.click() 
  })
 
</script>