---
import { generateFarewellMessage } from '@/services/ai'
import { saveHauntedFolio } from '@/services/db'
import { generateTombstone } from '@/services/image'

interface Repository {
	name: string
	stars: number
	pullRequests: number
	forks: number
	primaryLanguage: string
}

interface Props {
	topRepositories: Repository[]
	spookyTopRepositories?: {
		project: string
		url: string
	}[]
	username: string
}

const { topRepositories, spookyTopRepositories, username } = Astro.props

const publicId = 'stickers/tombstone'

let data = spookyTopRepositories

if (!data) {
	const listOfPromises = topRepositories.map(
		async ({ name, stars, primaryLanguage, pullRequests, forks }) => {
			const farewellMessage = await generateFarewellMessage({
				repositoryName: name,
				numStarts: stars,
				programmingLanguage: primaryLanguage
			})

			const url = await generateTombstone({
				publicId,
				name,
				farewellMessage,
				stars,
				forks,
				pullRequests
			})

			return {
				project: name,
				url
			}
		}
	)

	data = await Promise.all(listOfPromises)

	await saveHauntedFolio({ data: { login: username, spookyTopRepositories: data }, isNew: false })
}
---
<section class="content-center p-8 size-full w-screen h-screen mx-auto max-w-4xl lg:max-w-7xl mt-36 lg:mt-44">
	<div class="relative bg-black px-4 py-2 border-4 border-orange-500 shadow-[4px_4px_0px_0px_rgba(249,115,22,1)] -rotate-2 hover:rotate-0 transition duration-200 mb-16 sm:mb-20">
		<h2 class="text-4xl sm:text-5xl lg:text-8xl tracking-widest font-bold text-orange-600 transform font-heading text-balance animate-flicker uppercase">Cursed Projects</h2>
		<img src="/assets/ghost.avif" alt="A creepy ghost" class="absolute hidden lg:block bottom-2 right-6 size-14 md:size-20 animate-float"/>
	</div>
	<div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 justify-between items-center gap-4 mt-8 md:mt-12 xl:mt-16">
		{data.map(({project, url }) => (
      <img 
				src={url} 
				alt={`A tombstone picture of ${project}`} 
				class="aspect-square size-full md:size-80 xl:size-[380px] transition duration-200 drop-shadow-[0_0_20px_rgba(255,255,255,0.4)] hover:drop-shadow-[0_0_20px_#457b9d] animate-float"/> 
		))}
	</div>
</section>