---
import Hero from '../../components/Hero.astro'
import Layout from '../../layout.astro'
import { fetchUserData } from '../../services/github'

const { user } = Astro.params
// TODO: check when user is not defined, invalid username
const userData = await fetchUserData({ username: user ?? 'xavimondev' })
---

<Layout>
  <h2>{user}</h2>
  <Hero {...userData} />
</Layout>